.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 100%;

  & a {
    display: flex;
    width: 100%;
    height: 100%;
  }
}

.git {
  height: 100%;
  width: 80px;
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Git-logo.svg/180px-Git-logo.svg.png) no-repeat center;
  background-size: contain;
}

.year {
  font-size: 32px;
  font-weight: bold;
  color: #a0a0a0;
  text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
}

.rss {
  height: 100%;
  width: 80px;
  background: url('../../assets/rs_school_js.svg') no-repeat center;
  background-size: contain;
}
