.best-score {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;

  & .wrapper {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    border-bottom: 2px solid rgba(253, 215, 0, 0.75);
  }
}
